input {
  margin-top: 10px;
  font-size: 20px;
}

.auth-form, .auth-body{
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.auth-body{
  justify-content: flex-end;
  height: 100vh;
}

.auth-form{
  border-radius: 40px 40px 0 0;
  background-color: var(--secondary-bg-color);
  width: 100%;
  height: 65vh;
}

.auth-form input{
  color: var(--primary-bg-color);
  width: 60%;
}

.auth-error{
  color: red;
}

.auth-form input::placeholder{
  color: var(--primary-bg-color);
  font-weight: 500;
}

.auth-form input:-ms-input-placeholder{
  color: var(--primary-bg-color);
}
.auth-form input::-ms-input-placeholder{
  color: var(--primary-bg-color);
}

.formActionButton {
  margin-top: 25px;
}

.formType {
  display: flex;
  width: 60%;
  margin: 5vh 0 5vh 0;
  font-size: 26px;
  font-weight: 600;
}

.logo {
  /* height: 25vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.logoImage {
  height: 15vh;
  width: 15vh;
  background-image: url("../images/coffee_note_logo_fixed-8.png");
  background-size: 15vh;
}

.logoText {
  padding-top: 10px;
  font-size: 20px;
  font-weight: 600;
}

.switchToForm {
  margin-top: 20px;
}

.switchToFormText {
  display: inline-block;
  color: var( --light-text-color);
  font-size: 12px;
}

.switchToFormButton {
  color: #58E481;
  background-color: Transparent;
  font-size: 12px;
  padding: 0 0 0 5px;
}

.termsAndService {
  display: flex;
  color: var( --light-text-color);
  font-size: 12px;
  padding-top: 15px;
}

.termsAndServiceSelector {
  margin: 0 5px 0 0;
}
