input {
  font-size: 20px;
}

.auth-form, .auth-body{
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.auth-body{
  justify-content: flex-end;
  height: 100%;
}

.auth-form{
  background-color: var(--secondary-bg-color);
  width: 100%;
}

.auth-form input{
  color: var(--primary-bg-color);
}

.auth-error{
  color: red;
}

.auth-form input::placeholder{
  color: var(--primary-bg-color);
  font-weight: 500;
}

.auth-form input:-ms-input-placeholder{
  color: var(--primary-bg-color);
}
.auth-form input::-ms-input-placeholder{
  color: var(--primary-bg-color);
}

.formType {
  font-size: 26px;
}

.switchToSignup {
}

.switchToSignupText {
  display: inline-block;
  color: var( --light-text-color);
  font-size: 10px;
}

.switchToSignupButton {
  color: #58E481;
  background-color: Transparent;
  font-size: 10px;
  padding: 2px 0 0 5px;

}

.formActionButton {
  margin-top: 25px;
}

