.static-detail{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column; 
  /* background-color: var(--light-text-color); */
}

.static-detail .img-container{
  height: 50%;
}

.detail-card{
  position: absolute;
  color: var(--dark-text-color);
  bottom: 0;
  width: 100%;
  border-radius: 40px 40px 0 0;
  background-color: var(--light-text-color);
  min-height: 55%;
  box-shadow: 1px -1px 5px .5px rgba(0, 0, 0, .34);
  display: flex;
  flex-direction: column;
}

.detail-btn-container{
  display: flex;
  flex-direction: column; 
  align-self: flex-end; 
  position: absolute;
  top: 25px; 
  right: 20px;
}

.detail-btn-container button{
  padding: 8px 8px;
  border-radius: 100%;
  background-color: var(--secondary-bg-color);
  color: var(--light-text-color);
  margin-bottom: 5px;
}

.detail-text{
  width: 100%;
  display: flex;
  padding: 0 20px;
}

.detail-text-left, .detail-text-right{
  width: 50%;
  display: flex;
  flex-direction: column; 
}

.detail-text > div > *{
  width: 100%;
}

.bean-name{
  padding-left: 20px;
}

h2.bean-name{
  padding-top: 20px;
}

.detail-text h2, h2.bean-name{
  color: var(--accent);
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 3px;
}

.detail-text div, div.bean-name{
  color: var(--dark-text-color);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}

.brewEntries{
  display: flex;
  justify-content: center;
  padding: 5px 0;
}

.brewEntriesButton{
  color: var(--accent);
}