.header{
  display: flex;
  align-items: flex-end;
  align-self: flex-start;
  width: 100%;
  padding: 10px 10px;
  background-color: var(--secondary-bg-color);
}

.header > div:last-child{
  font-weight: 600;
  font-size: 20px;
  letter-spacing: .5px;
}

.header-logo{
  background-image: url(../images/coffee_note_logo_fixed-8.png);
  height: 40px;
  width: 40px;
  background-size: 40px;
  margin-right: 10px;
}
