.note-item-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 10px 0;
}

.note-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: .5px .5px 5px .5px rgba(0, 0, 0, .5);

}

.note-wrapper {
  padding: 15px 0 0 10px;
  width: 50%;
}

.note-wrapper:last-child {
  width: 100%;
  padding-bottom: 10px;
}

.note-item-header {
  display: flex;
  flex-wrap: wrap;
  color: var(--accent);
  font-size: 14px;
  font-weight: 600;
}

.note-item-text {
  display: flex;
  color: var(--dark-text-color);
  font-size: 20px;
  font-weight: 600;
}

.options-detail {
  display: flex;
  flex-direction: column; 
  align-self: flex-end; 
  position: absolute;
  right: 25px;
}

.options-detail button {
  padding: 5px 5px;
  border-radius: 100%;
  background-color: var(--secondary-bg-color); 
  color: var(--accent);
  margin-bottom: 5px;
}

