.brew-entry-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items:center;
  padding: 10px 0 10px 0;
}

.note-input-text {
  display: flex;
  color: var(--dark-text-color);
  font-size: 20px;
  font-weight: 600;
  width: 135px;
  border-bottom: 2px solid var(--secondary-bg-color);
}

.note-input-text.timestamp {
  padding-top: 13px;
  outline: 0;
}

.note-input-text.my-notes {
  font-size: 15px;
  width: 94%;
  overflow-wrap: break-word;
  overflow-y: auto;
}