.settings-container{
  display: flex;
  flex-direction: column; 
  padding: 10px 10px; 
}

.settings-container h2{
  font-size: 20px;
  margin-bottom: 10px;
}

.settings-container .img-container{
  height: 20vh;
  width: 20vh;
  max-height: 100px;
  align-self: center;
  background-color: green; 
}

.settings-container h4{
  color: var(--accent);
  margin-bottom: 10px;
}

.settings-field{
  color: var(--dark-text-color);
  background-color: var(--light-text-color);
  border-radius: 6px;
  padding: 8px 8px;
  font-weight: 600;
  margin-bottom: 10px;
}

.settings-container .logoutButton{
  color: var(--primary-bg-color);
  background-color: var(--dark-text-color);
  width: 33%;
  font-weight: 600;
  align-self: center;
  position: fixed;
  bottom: 20px;
}

.spotifyButton {
  position: absolute;
  bottom: 90px;
}